<%= bootstrap_form_for([@game, @game.comments.new]) do |f| %>
  <div class="field">
    <%= f.text_field :text, :label => "Comment :"%><br/>   
    <%= f.hidden_field :game_id, :value => @game.id%>
  </div>
<div class="actions">
<%= f.submit 'Add', :class => 'btn btn-default' %>
</div>
<% end %>