<h3> Matches : </h3>
<table class="table">
	<tr>
		<td><%= collection_select(:match, :user_id, User.all, :id, :email) %></td>
		<td>Match</td>
		<td><%= collection_select(:match, :user_id, User.all, :id, :email) %></td>
	</tr>
</table>