<h3> Matches : </h3>
New match :
<%= form_for(match = Match.new) do |f| %>
<table class="table">
	<th>Player one</th>
	<th>Player two</th>
	<tr>
		<td><%= f.collection_select(:match, :player_one_id, User.all, :id, :email) %></td>
		<td><%= f.collection_select(:match, :player_two_id, User.all, :id, :email) %></td>

	</tr>
</table>
<% end %>
