.poster{
	max-width: 80px;
	max-height: 200px;
	border-radius:10px 10px;
}

.google-map{
	border-radius:5px 5px;
	width: 250px;
	max-height : 500px;
} 

body {
	background-image:url("background.png")
}


.banner {
	background-color : #5494fe;
}
.footer {
	background-color : #000000;
}

.main {
	padding-top : 50px;
}

.form-control
{
  width: 30%; //Change as per your requirement
  display: inline-block;

}
 /*
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc{
  background-image: url("arrow_up.png");
}

.pretty th .desc {
  background-image: url("arrow_down.png");
}*/

